*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo{
    height: 30px;
    width: 30px;
    object-fit: cover;
}

nav menu ul li .home{
    color: white;
}

.content img{
    height: 200px;
    width:200px
}

.home-card .row div img{
    border-radius: 16px;
    border: 2px solid red;
    object-fit: cover;
}
