{%extends 'photos/base.html'%}
{%block content%}
<script>
  
  var copyText = document.querySelector("#clip");
  copyText.select();
  document.execCommand("copy");

document.querySelector("#board").addEventListener("click", copy);
</script>
  

</script>
<div class="container">
    <div class="row mt-5" style=" height: 600px ;">
        <div class="col-6 "style="height: 90%;" >

            <img src="https://julespexels.herokuapp.com{{photos.image.url}}" id='clip' alt="" style="height: 100%; width:100%; object-fit: cover; border-radius:15px " >

        </div>
        <div class="col-6" style="box-shadow: 10px 20px 40px -14px rgba(0, 0, 0, 0.25);height: 90%;">
            <i class="bi bi-three-dots" style="font-size: 1.5rem; margin-right: 15px; font-weight: 900;"></i>
            <i class="bi bi-download" style="font-size: 1.5rem; margin-right: 15px; font-weight: 900;"></i>
            <i class="bi bi-clipboard"   id='board'style="font-size: 1.5rem;" ></i>
            <p  style="background-color: red;padding:10px;font-weight:800; color: white; width:60px;
            position: relative; left:50%; top:-4%; border-radius: 25px;">Save</p>
            <br>
            <h4>Uploaded by <strong>JULES</strong></h4>
            <i class="bi bi-geo-alt"><small>{{photos.location}}</small></i>
            <br>
            <p style="font-weight:900; font-size: 32px;">{{photos.name}}</p>
            <p style="font-weight:500; font-size: 22px;">{{photos.decription}}</p>
            <br>
            <br>
            <div class="input-group">
                <div class="form-outline">
                  <input type="search" id="form1" class="form-control" value="Add a Comment" style="border-radius:16px; border: 1px solid silver; width: 400px; height:55px;" />
                </div>
                </button>
              </div>
        </div>
      </div>
</div>


  <h1>more like this</h1> 

<div class="main">
 {%for all in allphotos%}

  <ul class="cards"  style="margin-bottom: 300px;">
    <li class="cards_item"  >
      <div class="card"  style="border: none !important;">
       
        <div class="card_image"> <a href="{%url 'category' pk=all.id%}"><img src="{{all.image.url}}"></a></div>
          <h2 class="card_title" >{{all.name}}</h2>
          <p class="card_text">{{all.decription}}</p>
          <i class="bi bi-geo-alt"><small>{{all.location}}</small></i>

         
        
      </div>
    </li>
  </ul>
  {%endfor%} 


</div>


{%endblock content%}

