{%extends 'photos/base.html'%}
{%block content%}
<div class="container">
    <div class="row mt-5" style=" height: 600px ;">
        <div class="col-6 " >

            <img src="{{photos.image.url}}" alt="" style="height: 60%; width:100%; object-fit: cover; border-radius:15px " >

        </div>
        <div class="col-6">
            <i class="bi bi-three-dots" style="font-size: 1.5rem; margin-right: 15px; font-weight: 900;"></i>
            <i class="bi bi-download" style="font-size: 1.5rem; margin-right: 15px; font-weight: 900;"></i>
            <i class="bi bi-clipboard" style="font-size: 1.5rem;"></i>
            <p style="background-color: red;padding:10px;font-weight:800; color: white; width:60px;
            position: relative; left:50%; top:-4%; border-radius: 25px;">Save</p>
            <br>
            <h4>Uploaded by <strong>JULES</strong></h4>
            <i class="bi bi-geo-alt"><small>{{photos.location}}</small></i>
            <br>
            <p style="font-weight:900; font-size: 32px;">{{photos.name}}</p>
            <p style="font-weight:500; font-size: 22px;">{{photos.decription}}</p>
            <br>
            <br>
            <div class="input-group">
                <div class="form-outline">
                  <input type="search" id="form1" class="form-control" value="Add a Comment" style="border-radius:16px; border: 1px solid silver; width: 400px; height:55px;" />
                </div>
                </button>
              </div>
        </div>
      </div>
</div>


  <h1>more like this</h1> 

<div class="main">
 {%for all in allphotos%}

  <ul class="cards">
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="{{all.image.url}}"></div>
        <div class="card_content">
          <h2 class="card_title">{{all.name}}</h2>
          <p class="card_text">{{all.decription}}</p>
          <i class="bi bi-geo-alt"><small>{{photos.location}}</small></i>

        </div>
      </div>
    </li>
  </ul>
  {%endfor%} 


</div>
{%endblock content%}