{% extends 'photos/base.html'%}
{%block content%}
    <!-- <div class="row">
        
    </div> -->

    <!-- <div class="content">
        <img src="/static/images/Screenshot_from_2022-01-27_10-18-28.png" alt="" style="height: 200px; width:200px">
    </div> -->
 
   
      <div class = "container-fluid home-card">
         <div class = "row mt-5">
            <div class = "col-sm-3 col-md-6 col-lg-3" >
                <a href="{%url 'test'%}"><img src="/static/images/Screenshot_from_2022-01-27_10-18-28.png" alt="" style="height: 250%; width: 100%;"> </a>
               
                <!-- <p>image1</p> -->
            </div>
            <div class = "col-sm-9 col-md-6 col-lg-3" >

                <img src="/static/images/Screenshot_from_2022-01-27_10-18-28.png" alt="" style="height: 120%; width: 100%;">


            </div>
            <div class = "col-sm-9 col-md-6 col-lg-3">
                <img src="/static/images/Screenshot_from_2022-01-27_10-18-28.png" alt="" style="height: 300%; width: 100%;">


            </div>
            <div class = "col-sm-9 col-md-6 col-lg-3">
                <img src="/static/images/Screenshot_from_2022-01-27_10-18-28.png" alt="" style="height: 180%; width: 100%;">


            </div>
            <div class = "col-sm-9 col-md-6 col-lg-3" style="margin-top: 300px;">
                <img src="/static/images/Screenshot_from_2022-01-27_10-18-28.png" alt="" style="height: 120%; width: 100%;">
                <img src="/static/images/Screenshot_from_2022-01-27_10-18-28.png" alt="" style="height: 70%; width: 100%; margin-top: 50px;">


            </div>
            <div class = "col-sm-9 col-md-6 col-lg-3" style="margin-top:100px ;">
                <img src="/static/images/Screenshot_from_2022-01-27_10-18-28.png" alt="" style="height: 80%; width: 100%;">
                <img src="/static/images/Screenshot_from_2022-01-27_10-18-28.png" alt="" style="height: 70%; width: 100%;margin-top: 50px;">


            </div>
            <div class = "col-sm-9 col-md-6 col-lg-3" style="margin-top:380px ;">
                <img src="/static/images/Screenshot_from_2022-01-27_10-18-28.png" alt="" style="height: 100%; width: 100%;">
                <img src="/static/images/Screenshot_from_2022-01-27_10-18-28.png" alt="" style="height: 100%; width: 100%; margin-top: 60px;">


            </div>
            <div class = "col-sm-9 col-md-6 col-lg-3" style="margin-top:200px ;">
                <img src="/static/images/Screenshot_from_2022-01-27_10-18-28.png" alt="" style="height: 50%; width: 100%;">
                <img src="/static/images/Screenshot_from_2022-01-27_10-18-28.png" alt="" style="height: 100%; width: 100%;margin-top:50px" >

            </div>
         </div>

         
      </div>
{%endblock content%}