{% extends 'photos/base.html'%}
{%block content%}
      <div class = "container-fluid home-card">

         <div class = "row mt-3">
             {%for photo in photos%}


            <div class = "col-sm-3 col-md-6 col-lg-3" style="display:flex;  flex-direction: column; height:20% ; position: relative;" >
                {%if forloop.counter == 1%}
                <!-- this loop goes only one time to avoid my images dipulicate -->


                <a href="{%url 'category' pk=photo.id%}"><img src="{{photo.image.url}}" alt="" style="height: 50%; width: 100%;"> </a>
                <p>{{photo.name}}</p>
                {%endif%}

                {%if forloop.counter == 2%}

                <a href="{%url 'category' photo.id%}"><img src="{{photo.image.url}}" alt="" style="height: 25%; width: 100%;">
                </a>
                <p>{{photo.name}}</p>
                {%endif%} 
                
                {%if forloop.counter == 3%}

                <a href="{%url 'category' photo.id%}"><img src="{{photo.image.url}}" alt="" style="height: 105%; width: 100%;">
                </a>
                <p>{{photo.name}}</p>
                {%endif%} 
                {%if forloop.counter == 4%}

                <a href="{%url 'category' photo.id%}"><img src="{{photo.image.url}}" alt="" style="height: 55%; width: 100%;">
                </a>
                <p>{{photo.name}}</p>
                {%endif%} 
                {%if forloop.counter == 5%}

                <a href="{%url 'category' photo.id%}"><img src="{{photo.image.url}}" alt="" style="height: 55%; width: 100%;">
                </a>
                <p>{{photo.name}}</p>
                {%endif%} 
                {%if forloop.counter == 6%}

                <a href="{%url 'category' photo.id%}"><img src="{{photo.image.url}}" alt="" style="height: 45%; width: 100%; margin-top: 40px;">
                  <p>{{photo.name}}</p>
                </a>
                {%endif%} 
                {%if forloop.counter == 7%}

                <a href="{%url 'category' photo.id%}"><img src="{{photo.image.url}}" alt="" style="height: 45%; width: 100%; margin-top: 30px;">
                </a>
                <p>{{photo.name}}</p>
                {%endif%} 
                {%if forloop.counter == 10%}

                <a href="{%url 'category' pk=photo.id%}"><img src="{{photo.image.url}}" alt="" style="height: 40%; width: 100%;">   </a>
                <p>{{photo.name}}</p>
                {%endif%}
                {%if forloop.counter == 8%}

                <a href="{%url 'category' pk=photo.id%}"><img src="{{photo.image.url}}" alt="" style="height: 40%; width: 100%;">   </a>
                <p>{{photo.name}}</p>
                {%endif%}
         
              <!-- <p>image1</p> -->
              <!-- margin-bottom: 150px; position: absolute; right: -290%; bottom: -100%; -->
              <!-- position: absolute; bottom: 5%; -->
            </div>
           

            {%endfor%}

         </div>

         
      </div>

{%endblock content%}