
{%extends 'photos/base.html'%}

{%block content%}

<div class="main">


    
<h2>{{photosl.location}}</h2>
{%for photo in photosl%}


  <ul class="cards" style="margin-bottom:300px;">
    <li class="cards_item"  >
      <div class="card"  style="border: none !important;">
        <div class="card_image"> <a href="{%url 'category' pk=photo.id%}"><img src="{{photo.image.url}}"></a></div>
          <h2 class="card_title" >{{photo.name}}</h2>
          <p class="card_text">{{photo.decription}} </p>
          <i class="bi bi-geo-alt"><small>{{photo.location}}</small></i>


         

      </div>
    </li>
  </ul>

  {%endfor%} 
</div>
{%endblock%}